<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/styles.css" rel="stylesheet">

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <link href="static/favicon.ico" rel="icon">
    
        <title>{% block title %}{% endblock %}</title>
        
    </head>

    <body>

    
        <div class="sidenav">
            <div class="logo">
                CX-FLACK
            </div>
            {% block sidenav %}{% endblock %}
        </div>
          
        <div class="main">
            {% block main %}{% endblock %}
        </div>
        
    </body>

</html>
