{% extends 'layout.html' %}

{% block title %}
Sign In
{% endblock %}

{% block main %}

    <div id='signin'>
        <form method='POST'>
            <div class='form-group'>
                <input autocomplete='off' placeholder='username' autofocus class='form-control' name='name' type='text'>
            </div>
            <div class='form-group'>
                <input autocomplete='off' class='form-control' placeholder='channel' name='channel' type='text'>
            </div>
            <button class='btn btn-primary' type='submit'>Sign in</button>
        </form>
    </div>
    
    <script>
        const n = localStorage.getItem('name');
        const c = localStorage.getItem('channel');
        if ((n) && (n != "None")) {
            document.querySelector('input[name="name"]').setAttribute('value', n);
            document.querySelector('input[name="channel"]').setAttribute('value', c);
        }
    </script>


{% endblock %}